{% extends "layout.html" %}
{% block content %}

    <div class="media content-section">
        <table class="table table-striped">
            <thead>
              <tr>
                <th >Item</th>
                <th >Alergia</th>                
              </tr>
            </thead>
            
            <tbody>
            {% for record in records %}
              <tr>
                <td>{{record['designacao']}}</td>
                <td>{{record['alergia']}}</td>
              </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>

{% endblock content %}